@import 'partials/settings';
@import 'partials/typography';
@import 'partials/global';
@import 'partials/elements';

@import 'partials/header';
@import 'partials/cart';

@import 'partials/product';
@import 'partials/booking';
@import 'partials/home';

.selected {
  cursor: pointer;
  border: solid 1px green;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $color-success;
    opacity: 0.4;
  }
}