.home-wrapper {
  margin: ($base-size * 3.5) auto;
}

/* Boxes section */
.boxes {
  @include flex(row, stretch, space-between);
  gap: $base-size;
  margin-bottom: $base-size;
}

.box {
  flex: 1;
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
  @include flex(row, center, center);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: $transition;
  }

  &#box-order {
    background-image: url('../../images/assets/pizza-1.jpg');
    filter: grayscale(100%);
    transition: $transition;

    &:hover {
      filter: grayscale(50%);
    }
  }

  &#box-booking {
    background-image: url('../../images/assets/pizza-2.jpg');
    filter: grayscale(100%);
    transition: $transition;

    &:hover {
      filter: grayscale(50%);
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    color: $color-light;
    font-family: $font-header;
    font-size: ($base-size * 2.5);
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    transition: $transition;
    transform: translateY(0);
  }

  &:hover &__title {
    transform: translateY(-5px);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

/* Opening Hours */
.opening-hours {
  background: $color-main;
  color: $color-light;
  text-align: center;
  padding: ($base-size * 3) ($base-size * 2);
  border-radius: $radius;

  &__title {
    font-family: $font-header;
    font-size: ($base-size * 2.5);
    font-weight: $font-bold;
    text-transform: uppercase;
    margin-bottom: ($base-size / 2);
  }

  &__text {
    font-size: $base-size;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

/* Carousel (Flickity) */
.carousel {
  background: $color-light;
  padding: ($base-size * 5) ($base-size * 4);
  margin: ($base-size * 3) 0;
  border-radius: $radius;
  text-align: center;

  &__item {
    width: 100%;
  }

  &__icon {
    font-size: ($base-size * 3);
    color: lighten($color-dark, 60%);
    margin-bottom: ($base-size * 2);
  }

  &__title {
    @extend .h1;
    margin: 0 0 ($base-size * 2) 0;
  }

  &__text {
    color: lighten($color-dark, 30%);
    font-style: italic;
    line-height: 1.8;
    max-width: 500px;
    margin: 0 auto ($base-size * 2) auto;
  }

  &__author {
    font-style: italic;
    color: lighten($color-dark, 40%);
  }

  .flickity-page-dots {
    bottom: -($base-size * 2);

    .dot {
      background: $color-dark;
    }
  }
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $base-size;

  &__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: $transition;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    @include flex(row, center, center);
    opacity: 0;
    transition: $transition;

    .gallery__item:hover & {
      opacity: 1;
    }
  }

  &__icons {
    @include flex(row, center, center);
    gap: ($base-size * 2);

    span {
      color: $color-light;
      font-size: ($base-size * 2);
      transition: $transition;
      transform: translateY(10px);
      opacity: 0;
      cursor: pointer;

      .gallery__item:hover & {
        transform: translateY(0);
        opacity: 1;
      }

      &:hover {
        color: $color-main;
      }
    }

    span:nth-child(1) {
      transition-delay: 0s;
    }

    span:nth-child(2) {
      transition-delay: 0.05s;
    }

    span:nth-child(3) {
      transition-delay: 0.1s;
    }
  }

  &__follow {
    text-align: center;
    margin: ($base-size * 2) 0;

    a {
      color: $color-main;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: $font-bold;
      font-size: $base-size;
      letter-spacing: 1px;
      transition: $transition;

      &:hover {
        color: darken($color-main, 10%);
      }
    }
  }
}
